@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap");
@import "./variables.scss";
@import "../../shared/styles/reset.scss";
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--color-gray);
  font-size: 16px;
  color: var(--color-gray-alt);
}
h1 {
  font-size: var(--font-size-xxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222;
}
.container {
  max-width: 1230px;
  padding-inline: 30px;
  margin-inline: auto;
}
