:root {
  --color-gray: #f9f3f1;
  --color-gray-alt: #333333;
  --color-accent: #5a9bd5;
  --color-accent-light: rgba(90, 155, 213, 0.3);
  --color-accent-gray: #c8d1e0;
  --color-accent-coral: #e07a5f;

  --font-size-m: 12px;
  --font-size-l: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
}
