.footer {
  padding-block: 60px;
  background-color: var(--color-gray-alt);
  @include tablet {
    padding-block: 50px;
  }

  a {
    color: var(--color-gray);
    transition: all 0.3s;
    font-size: var(--font-size-l);
    @include hover {
      color: var(--color-accent);
    }
    &.dis {
      @include hover {
        color: var(--color-gray);
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.popular {
  &__list {
    a {
      font-size: 20px;
      font-weight: 500;
      @include tablet {
        font-size: 18px;
        line-height: 1.3;
      }
      @include mobile {
        font-size: 16px;
      }
      @include mobile-s {
        font-size: 14px;
      }
    }
    li {
      @include mobile-s {
        line-height: 1.1;
      }
    }
  }
}
.contacts {
  &__list {
    max-width: 250px;
  }
}
.dis {
  cursor: unset;
}
.popular__list,
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile {
    gap: 5px;
  }
  @include mobile-s {
    gap: 5px;
  }
}
