.about {
  padding-top: 150px;

  &__intro {
    padding-top: 10px;
    max-width: 550px;
  }

  &__center {
    padding-top: 40px;
  }
  &__subtitle-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 40px;
  }
  &__info__wrapper {
    border: 1px solid var(--color-accent);
    padding: 20px;
    border-radius: 20px;
  }
}
.strong {
  font-weight: 500;
}
