.categories {
  padding-top: 170px;
  color: var(--color-accent);
  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    padding: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    @include hover {
      background-color: var(--color-accent);
      .categories__link {
        color: var(--color-gray);
      }
    }
  }

  &__link {
    font-size: var(--font-size-xl);
    color: var(--color-gray-alt);
    font-weight: 500;
  }
}
.categories__item.active {
  background-color: var(--color-accent);
  .categories__link {
    color: var(--color-gray);
  }
}
