.brands {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  @include tablet {
    margin-top: var(--size-padding-block);
  }
  &__title {
    padding-bottom: 50px;
    @include tablet {
      padding-bottom: 30px;
    }
    @include mobile {
      padding-bottom: 20px;
    }
    @include mobile-s {
      line-height: 1.1;
      padding-bottom: 15px;
    }
  }
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.scroll-track {
  display: flex;
  width: max-content; /* fit-content тоже подойдет */
  animation: scroll 60s linear infinite;
  transition: opacity 0.5s ease;
}

.scroll-wrapper:hover .scroll-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-item {
  flex: 0 0 auto;
  margin-right: 50px;
  white-space: nowrap;
  font-size: 18px;
  padding: 13px 25px;
  border-radius: 15px;
  color: var(--color-gray);
  &:nth-child(1n) {
    background-color: var(--color-accent-coral);
  }
  &:nth-child(2n) {
    background-color: var(--color-accent);
  }
  @include hover {
    cursor: pointer;
    opacity: 0.7;
  }
  @include tablet {
    margin-right: clamp(2.188rem, 0.942rem + 2.494vw, 2.813rem);
  }
  @include mobile {
    margin-right: clamp(1.25rem, 0.208rem + 3.333vw, 1.875rem);
    font-size: 16px;
    padding: 10px 20px;
  }
  @include mobile-s {
    font-size: 14px;
    padding: 8px 15px;
    margin-right: clamp(0.938rem, 0.134rem + 3.571vw, 1.25rem);
  }
}
