.sider {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: max-content;
  width: 300px;
  flex-shrink: 0;
  @include tablet {
    max-width: 250px;
  }

  &__button {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 15px 20px;
    transition: all 0.3s;
    @include hover {
      background-color: var(--color-accent);
      opacity: 0.7;
    }
  }

  &__dropdown {
    margin-bottom: 15px;
    padding: 0 20px;
  }
  &__btn {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-gray);
    transition: all 0.3s;
    @include hover {
      opacity: 0.8;
    }
  }
  &__price {
    width: clamp(6.563rem, 4.313rem + 3vw, 7.5rem);
    padding: 5px clamp(0.313rem, -0.25rem + 0.75vw, 0.5rem);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
  }
}
.brandss {
  max-height: 200px;
  overflow-y: auto;
}
.sider__dropdown.price {
  display: flex;
  justify-content: space-between;
}
.sider__button.active {
  color: var(--color-accent);
  @include hover {
    color: var(--color-gray);
  }
}
.sider__btn.clear {
  background-color: var(--color-accent-coral);
}
