.sider {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: max-content;
  width: 300px;
  flex-shrink: 0;
  transition: all 0.3s;
  @include tablet {
    max-width: 250px;
  }
  @include mobile {
    position: absolute;
    width: clamp(15.625rem, 10.417rem + 16.667vw, 18.75rem);
    max-width: unset;
    top: 0;
    z-index: 99;
    left: 0;
    -webkit-box-shadow: 8px 9px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 9px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 9px 24px 0px rgba(66, 68, 90, 1);
  }

  &__button {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 15px 20px;
    transition: all 0.3s;
    @include hover {
      background-color: var(--color-accent);
      opacity: 0.7;
    }
    @include mobile {
      padding: 12px 20px;
    }
  }

  &__dropdown {
    margin-bottom: 15px;
    padding: 0 20px;
  }
  &__btn {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-gray);
    transition: all 0.3s;
    @include hover {
      opacity: 0.8;
    }
    @include mobile-s {
      padding: 15px;
    }
  }
  &__price {
    width: clamp(6.563rem, 4.313rem + 3vw, 7.5rem);
    padding: 5px clamp(0.313rem, -0.25rem + 0.75vw, 0.5rem);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    @include tablet {
      font-size: 14px;
      max-width: 100px;
    }
    @include mobile {
      font-size: clamp(0.875rem, 0.667rem + 0.667vw, 1rem);
      width: clamp(6.25rem, 4.167rem + 6.667vw, 7.5rem);
      max-width: unset;
    }
  }
}
.brandss {
  max-height: 200px;
  overflow-y: auto;
}
.sider__dropdown.price {
  display: flex;
  justify-content: space-between;
}
.sider__button.active {
  color: var(--color-accent);
  @include hover {
    color: var(--color-gray);
  }
}
.sider__btn.clear {
  background-color: var(--color-accent-coral);
}

.sider.mobile.open {
  opacity: 1;
}
.sider.mobile.close {
  opacity: 0;
}
