.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  z-index: 9999;
  pointer-events: none;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: red;
  width: 0;
  transition: width 0.3s ease;
}
